<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3>KICT Playground - nested subforms</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form [formGroup]="form">
                <input type="text" class="form-control" formControlName="test1">
                <app-nested-form formControlName="nested"></app-nested-form>
            </form>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            {{form.value | json}}
        </div>
    </div>
</div>

